aclocal.m4
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
*.pc
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/config.h
src/config.h.in
src/config.h.in~
src/yadl_dedup
*.o
*.la
*.lo
src/stamp-h1
Makefile
Makefile.in   
src/Makefile
src/Makefile.in
src/Rabin_Karp.csv
src/dedup_test
src/dedup_test.log
src/dedup_test.trs
src/dedup_test_xunit.xml
src/delete_test
src/delete_test.log
src/delete_test.trs
src/delete_test_xunit.xml
src/test-suite.log
test-driver
test_dedup_result/
