[submodule "lib/leveldb"]
	path = lib/leveldb
	url = https://github.com/google/leveldb
[submodule "lib/openssl"]
	path = lib/openssl
	url = https://github.com/openssl/openssl
	branch = OpenSSL_1_0_2-stable
[submodule "lib/snappy"]
	path = lib/snappy
	url = https://github.com/google/snappy
